#pip install -r requirements.txt para instalar todo lo que tengo aca, si agrego hago esto para los nuevos igual
flask
firebase_admin
python-dotenv
#extensiones de flask
flask-bootstrap #integra bootstrap con flask
Flask-WTF #significa what the form
pyrebase4

